h1 {
  text-align: center;
}

.heading {
  border-bottom: 5px solid black;
  height: 50px;
}

h4 {
  font-size: 1.6em;
  text-align: center;
  padding-top: 5px;
}

.six {
  border: 5px solid black;
  height: 600px;
}

#form {
    background-color: #FFF;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 30px;
    text-align:center;
}

label {
  float: right;
  text-align: right;
  margin: 0 auto;
  font-size: 1.2em;
}

input{
  width: 100px;
  text-align: left;
  float: left;
}

.submitOrCancel {
  margin: 0 auto;
  width: 50%;
  margin-top: 80px;
}

#submit, #cancel, #reset {
  background-color: lightgreen;
  width: 120px;
  text-align: center;
  border: 2px solid gray;
  display: inline-block;
  margin-right: 25%;
  margin-left: 25%;
}

.five {
  border: 5px solid black;
  display: inline-block;
  height: 275px;
  float: right;
}

.earnings {
  margin-top: 50px;
}

.one {
  float: right;
  margin-top: 40px;
}
